* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#box div {
    border: 1px solid;
    height: 1000px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    line-height: 1000px;
}
#box div:nth-child(1) {
    background-color: pink;
}
#box div:nth-child(2) {
    background-color: teal;
}
#box div:nth-child(3) {
    background-color: skyblue;
}
#box div:nth-child(4) {
    background-color: orange;
}

#nav {
    position: fixed;
    top: 450px;
    right: 50px;
}
#nav li {
    width: 50px;
    height: 50px;
    border: 1px solid;
    list-style: none;
    text-align: center;
    line-height: 50px;
}
#nav li:nth-child(1) {
    background-color: pink;
}
#nav li:nth-child(2) {
    background-color: teal;
}
#nav li:nth-child(3) {
    background-color: skyblue;
}
#nav li:nth-child(4) {
    background-color: orange;
}
.active-btn {    
    transform: scale(1.2)
}